################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AMSWebAPI/bin
/AMSWebAPI/obj
/AMSClientAPI/bin
/AMSClientAPI/obj
/*.rar